/*Jerarquía de estilos:
wl último diseño que se queda es el último que se define
y no meterlo en la misma hoja del html
*/


h1 {
    color: orange;
    /*Comentario en una hoja de estilos*/
}

#titulo {
    color:blueviolet;
    text-align: center;
}


h2 {
    color: #46484c;
}

h3 {
    color: rebeccapurple;

}

h4 {
    color: palevioletred;
}


p {
    color: #8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
    

}

body {
    
    background-image: url('fondo_cerezos.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#titulo_formulario {
    color:rgb(40, 51, 21);
    font-size: larger;
    
}